{% block styles %}
    <style type="text/css">
    ul{ list-style: none; }
    label{ font-weight: bold; }
    </style>
{% endblock %}

{% block content %}
    <form method="post" enctype="application/x-www-form-urlencoded">
        <table border = 0>
            <tr>
                <th>{{form.username.label}}:</th>
                <td>{{form.username}}<td>
            </tr>
            <tr>
                <th>{{form.password.label}}:</th>
                <td>{{form.password}}<td>
            </tr>
        </table>
        <input class="button tiny" type="submit" value="Submit" />
    </form>
{% endblock %}
